.hero-background {
  background-image: url('/assets/homecta.jpg'); /* Asegúrate de usar la ruta correcta */
  background-size: cover; /* Hace que la imagen cubra toda la sección */
  background-position: 50% 80%; /* Ajusta la posición (50% horizontal y 80% vertical) */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100%; /* Ocupa todo el ancho */
}





body {
  font-family: 'Montserrat';
}


@keyframes leaf-fall {
  0% {
    transform: translateY(-200%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100%) rotate(360deg);
    opacity: 0;
  }
}
.leaf-fall {
  animation: leaf-fall 5s linear infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}
