/* App.css */

/* Clase personalizada para el contenedor */
.hero-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%; /* Puedes ajustar este valor */
    max-width: 2000px; /* Ajusta el ancho máximo */
    background-color: white;
    padding: 2rem; /* Puedes modificar el padding según lo desees */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    flex-direction: column-reverse; /* Puedes cambiar esto a 'row' si prefieres que el contenido esté en fila */
    gap: 1.5rem; /* Espacio entre elementos */
  }
  
  /* Ajuste para pantallas más grandes */
  @media (min-width: 2000px) {
    .hero-container {
      flex-direction: row; /* Para pantallas más grandes, usa fila */
      width: 80%; /* Ajusta el ancho en pantallas medianas */
    }
  }
  
  @media (min-width: 768px) {
    .hero-container {
      width: 70%; /* Ajusta el ancho en pantallas medianas */
    }
  }
  
  @media (min-width: 2000px) {
    .hero-container {
      width: 50%; /* Ajusta el ancho en pantallas grandes */
    }
  }
  
  @media (min-width:2000px) {
    .hero-container {
      width: 40%; /* Ajusta el ancho en pantallas extra grandes */
    }
  }
  