.hero-background {
  background-image: url('/assets/homecta.jpg'); /* Asegúrate de usar la ruta correcta */
  background-size: cover; /* Hace que la imagen cubra toda la sección */
  background-position: 50% 80%; /* Ajusta la posición (50% horizontal y 80% vertical) */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100%; /* Ocupa todo el ancho */
}



